@{
    ViewData["Title"] = "Домашняя Страница";
}

<div class="text-center">
    <h1 class="display-4">Все о MINECRAFT</h1>
    <p>Блог Иванова Константина, в котором он делится своим профессиональным мнением о анонсах патчей по MINECRAFT и рассказывает все самые свежие и сочные фишки\баги\фичи данной игры!<br>ПРИСОЕДИНЯЙСЯ К НАМ!</p>
</div>
